@page "/"
@layout EmptyLayout
@using Domain.Entity
@using Domain.Interface
@using Microsoft.AspNetCore.Identity
@using MudBlazor;

@inject IAccountService AccountService;
@inject NavigationManager NavigationManager;
@inject SignInManager<User> SignInManager;

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="asset/image/abronalLogo.png" class="img-fluid" alt="Sample image" />
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="lead fw-normal mb-0 me-3">Sign in with Email</p>
                </div>

                <MudAlert Severity="Severity.Success" Variant="Variant.Filled">The reactor is running at optimum temperature</MudAlert>
                <section>
                    <EditForm Model="Input" method="post" OnValidSubmit="OnLogin" FormName="Login">
                        <DataAnnotationsValidator />
                        <hr />
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="Input.Email" class="form-control" aria-required="true" />
                            <label for="email" class="form-label">Email</label>
                            <ValidationMessage For="() => Input.Email" class="text-danger" />
                        </div>
                        <div class="form-floating mb-3">
                            <InputText type="password" @bind-Value="Input.Password" class="form-control" aria-required="true" />
                            <label for="password" class="form-label">Password</label>
                            <ValidationMessage For="() => Input.Password" class="text-danger" />
                        </div>
                        <div class="form-floating mb-3">
                            <InputCheckbox @bind-Value="Input.Remember" />
                            Remember me
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                    </EditForm>
                </section>
            </div>
        </div>
    </div>
</section>
  
@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    // protected override async Task OnInitializedAsync()
    // {
    //     await AccountService.RegisterUser(new Domain.DataTransferObject.Request.RegisterUserRequest
    //     {
    //         Email = "abronal123@gmail.com",
    //         Role = "Admin"
    //     }

    //     );

    // }

    private async Task OnLogin()
    {
        var verify = await AccountService.VerifyUser(Input.Email, Input.Password);
        if (!verify.IsSuccess)
        {
            // Handle login failure, e.g., show an error message
            return;
        }
        {
        }
        await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.Remember, false);

        NavigationManager.NavigateTo("/home");

    }
    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        public bool Remember { get; set; }

    }
}
